*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
   
}
.heading{
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .1em;
    color: seagreen;
}
.myform{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-left: 5%;
    margin-right: 5%;
}
.form{
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
}
.coolform{
    position: fixed;
}
.input{
    padding: .3em;
}
.date{
    padding: .3em;
}
.submit{
    padding: .3em;
}
.text{
    padding: .4em;
    justify-content: stretch;
    width: 100%;
    border: 1px solid seagreen;
}
.btn{
    padding: .5em;
    justify-content: stretch;
    width: 100%;
    background-color: seagreen;
    border: none;
    border-radius: 2px;
    color: white;
}
.mydate{
    padding: .4em;
    justify-content: stretch;
    width: 100%;
    border: 1px solid seagreen;

}
.edit{
   padding: .2em; 
    
    
}
.delete{
   padding: .2em; 
    
}
.mytodo{
    padding: .2em;
    margin-right: 1em;
    font-weight: lighter;
    text-transform: capitalize;
    font-family: cursive;
   
    
}
.mytitle{
    padding: .2em;
    color: seagreen;
    text-transform: uppercase;
  
    
}
.dates{
   padding: .2em;
   margin-right: 1em; 
    
}
.details{
 display: flex;
}
.myresults{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    background-color: #eee9e9;
    
}
   

